/.idea/.gitignore
/.idea/modules.xml
/.idea/End-to-End-Heart-Disease-Classification.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
